@media only screen and (max-width: 1260px) {
	body {
		font-size: 14px;
		padding-top: 60px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 35px;
	}

	.container {
		max-width: 760px;
	}

	.btn {
		padding: 0 40px;
		height: 50px;
	}

	.course-info__date,
	.course-info__flow,
	.course-info__duration {
		margin-right: 15px;
		font-size: 14px;
	}

	.course-info__flow  {
		margin-right: 0;
	}

	.course-info__date svg,
	.course-info__date img,
	.course-info__flow svg,
	.course-info__flow img,
	.course-info__duration svg,
	.course-info__duration img {
		margin-right: 5px;
	}

	.header__menu li {
		margin: 0 10px;
	}

	.header__lang {
		margin-right: 20px;
	}

	.header__lang li {
		font-size: 16px;
	}

	.header__btn {
		height: 40px;
	}

	.header__line {
		margin: 0 10px;
	}

	.header__logo img {
		height: 40px;
		width: auto;
	}

	.main {
		padding-top: 0;
	}

	.main__content {
		padding: 50px 0;
	}

	.main__image {
		width: 50%;
		top: 50%;
		transform: translateY(-50%);
	}

	.main__image img {
		width: 100%;
	}
	.main__title {
		max-width: 520px;
	}

	.main__title span {
		margin-top: 0px;
		font-size: 26px;
	}
	.main__title-flow {
		top: 13px;
		right: 89px;
	}
	.main__subtitle {
		font-size: 16px;
		max-width: 360px;
		margin-bottom: 30px;
	}

	.main__trailer {
		height: 50px;
	}

	.main__trailer span {
		display: none;
	}

	.main__form {
		top: 15px;
		right: 33px;
	}

	.main__form svg {
		transform: scale(0.60);
		left: -207px;
	}

	.main__percent {
		transform: scale(0.8);
		top: -43px;
		right: -63px;

        padding-top: 35px;
		width: 135px;
        height: 140px;
	}

    .main__text00 {
		font-size: 10px;
	}

	.main__text01 {
		font-size: 24px;
	}

	.main__text02 {
		margin-top: 3px;
		font-size: 16px;
	}

	.qa {
		padding-top: 50px;
	}

	.for {
		padding: 50px 0;
	}

	.for__items {
		justify-content: space-around;
		margin-bottom: 0;
	}

	.for .item {
		margin-right: 20px;
		margin-bottom: 30px;
	}

	.for .item__title {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.advantages {
		padding: 50px 0;
	}
	.advantges__title {
		margin-bottom: 35px;
	}
	.advantages .slick-slide {
		margin: 0px 10px;
	}
	.advantages__items .item__text {
		font-size: 18px;
	}

	.speakers {
		padding: 50px 0;
	}

	.speakers .speaker:hover {
		justify-content: flex-end;
		padding-top: 25px;
	}

	.speakers .speaker:hover .speaker__info {
		opacity: 0;
		padding-top: 30px;
	}

	.speakers .speaker:hover .speaker__company {
		left: 10px;
		transform: translateX(0);
	}

	.speakers .speaker.active {
		justify-content: start;
		padding-top: 55px;
	}

	.speakers .speaker.active .speaker__info {
		opacity: 1;
		padding-top: 135px;
	}

	.speakers .speaker.active .speaker__company {
		left: 50%;
		transform: translateX(-50%);
	}

	.speakers__list {
		max-width: 640px;
	}

	.speakers__subtitle br {
		display: none;
	}

	.program {
		padding: 50px 0;
		height: auto;
	}

	.program__header {
		max-width: 360px;
	}

	.program__info {
		max-width: 360px;
	}

	.module.active .module__header_date {
		transform: rotate(90deg);
		background-position: 50%;
	}

	.module.active .module__body {
		padding: 10px;
		border: 1px solid rgba(63, 35, 26, 0.08);
	}

	.module__header {
		max-width: 100%;
	}

	.module__header_title {
		max-width: 600px;
	}

	.module__body-wrap {
		position: relative;
		right: auto;
		top: auto;
		margin-top: 20px;
	}

	.module__body {
		padding: 0;
		width: 100%;
		display: flex;
		border: none;
		padding: 0 10px;
	}

	.discount {
		padding: 50px 0 80px;
	}

	.discount__title {
		max-width: 355px;
	}

	.discount__text {
		max-width: 270px;
	}

	.discount__bg {
		transform: scale(0.7);
		transform-origin: right top;
		top: 0;
	}

	.about {
		padding-top: 50px;
	}

	.about__title {
		margin-bottom: 50px;
	}

	.about .item {
		max-width: 360px;
		padding: 20px;
		margin-bottom: 20px;
		display: block;
		text-align: center;
	}

	.about .item__image {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.about .item__image img {
		margin: 0 auto;
	}

	.about .item__title {
		font-size: 18px;
	}

	.how {
		padding: 50px 0;
	}

	.how__items {
		justify-content: space-around;
	}

	.how .item {
		justify-content: center;
		margin-bottom: 33px;
		padding-top: 0;
	}

	.how .item__image {
		margin-bottom: 10px;
	}

	.how .item__image:after {
		display: none;
	}

	.profit {
		padding: 50px 0;
	}

	.employment {
		padding: 50px 0;
	}

	.employment__title {
		margin-bottom: 25px;
	}

	.employment__content {
		max-width: 360px;
	}

	.employment__list li {
		padding-left: 40px;
	}

	.employment__image {
		max-width: 360px;
	}

	.employment__image img {
		width: 100%;
	}

	.students {
		padding: 50px 0;
	}

	.packages {
		padding: 50px 0;
	}

	.packages__header {
		max-width: 410px;
	}

	.packages__wrap {
		margin-top: 50px;
	}

	.package-desc .package__body li {
		padding: 0 10px;
		font-size: 14px;
	}

	.package__header {
		font-size: 16px;
	}

	.package__body li {
		padding: 0 10px;
	}

	.package__btn {
		padding: 0 10px;
	}

	.package__places {
		font-size: 12px;
	}

	.package__price_full {
		font-size: 18px;
	}

	.package__price_current {
		font-size: 26px;
	}

	.reviews {
		padding: 50px 0;
	}

	.reviews .review {
		height: 387px;
	}

	.faq {
		padding: 50px 0;
	}

	.calltoaction {
		padding: 50px 0;
	}

	.register__wrap {
		padding: 10px;
	}

	.register__content {
		max-width: 340px;
	}

	.register__form {
		max-width: 340px;
	}

	.register__text {
		font-size: 16px;
	}

	.form {
		padding: 20px 20px;
	}

	.form__title {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.form__subtitle {
		font-size: 12px;
		margin-bottom: 16px;
	}

	.form__places {
		margin-bottom: 8px;
	}

	.form__agree {
		font-size: 11px;
	}

	.rass__content {
		max-width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}

	.rass__date {
		max-width: 360px;
		height: 350px;
	}

	.rass__how {
		max-width: 360px;
	}


	/* **** */
	/* .topline__new-year {
		height: 65px;
	}

	.main {
		padding-top: 70px !important;
	} */
}

@media only screen and (max-width: 760px) {
	body {
		font-size: 14px;
		padding-top: 0;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	.container {
		max-width: 340px;
	}

	.course-info {
		justify-content: center;
		margin-bottom: 10px;
	}

	.course-info__date,
	.course-info__flow,
	.course-info__duration {
		margin: 0 10px 10px;
		font-size: 12px;
	}

	.course-info__date svg,
	.course-info__date img,
	.course-info__flow svg,
	.course-info__flow img,
	.course-info__duration svg,
	.course-info__duration img {
		margin-right: 5px;
	}

	.header {
		/* position: absolute; */
		padding: 10px 0;
	}

	.header__logo {
		transition: 0.3s ease;
	}

	.header__logo img {
		height: 40px;
		margin: 0;
		transition: 0.3s ease;
	}

	.header__line {
		height: 20px;
	}

	.header__flow {
		font-size: 11px;
	}

	.header__btn {
		position: fixed;
		bottom: 5px;
		height: 50px;
		width: 320px;
		padding: 0 10px;
		left: 50%;
		transform: translateX(-50%);
		display: none;
	}

	.header__btn.hidden {
		opacity: 0;
		z-index: -1;
	}

	.header__menu {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 100;
		flex-direction: column;
		justify-content: center;
		transform: translateX(-100%);
		transition: 0.3s ease;
	}

	.header__menu li {
		margin: 0;
		text-align: center;
		width: 100%;
		padding: 30px 0;
	}

	.header__menu li:before {
		display: none;
	}

	.header__menu li:hover,
	.header__menu li:focus {
		background: #f4edeb;
		color: #0FBE73;
	}

	.header__menu a {
		font-size: 18px;
	}

	.header__lang {
		margin-left: auto;
	}

	.header__burger {
		width: 30px;
		height: 30px;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		z-index: 9999;
		opacity: 1;
	}

	.header__burger span {
		width: 100%;
		height: 3px;
		background: #000;
		border-radius: 3px;
		transition: 0.3s ease;
		transform-origin: 50% 50%;
		display: block;
	}

	.header__social {
		display: flex;
		position: fixed;
		bottom: 50px;
		left: 0;
		justify-content: center;
		align-items: center;
		z-index: 100;
		width: 100%;
		opacity: 1;
		transition: 0.3s ease;
		transform: translateX(-100%);
	}

	.header__social_link {
		margin: 0 10px;
	}

	.header.active {
		position: fixed;
	}

	.header.active .header__logo {
		top: 10px;
		left: 50%;
		z-index: 110;
	}

	.header.active .header__logo img {
		transform: none;
	}

	.header.active .header__menu {
		transform: translateX(0);
	}

	.header.active .header__burger span:nth-child(1) {
		transform: rotate(-45deg) translate(-7px, 7px);
	}

	.header.active .header__burger span:nth-child(2) {
		opacity: 0;
	}

	.header.active .header__burger span:nth-child(3) {
		transform: rotate(45deg) translate(-7px, -7px);
	}

	.header.active .header__social {
		transform: translateY(0);
	}

	.main {
		text-align: center;
		padding-top: 50px;
	}

	.main__info {
		justify-content: space-between;
	}

	.main__date,
	.main__duration,
	.main__flow {
		margin: 0;
		font-size: 14px;
	}

	/* .main .course-info__flow {
		display: flex;
	} */

	.main__title-flow {
		display: none;
	}

	.main__subtitle {
		font-size: 15px;
		margin-bottom: 0;
	}

	.main__image {
		position: relative;
		right: auto;
		top: auto;
		transform: none;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.main__trailer {
		margin-left: 0;
	}

	.main__trailer svg {
		width: 50px;
		height: 50px;
	}

	.main .row {
		justify-content: space-around;
	}

	.main__form {
		right: 0;
		top: 240px;
	}

	.main__percent {
		width: 135px;
    	top: -83px;
    	right: -47px;
	}

	.main__timer {
		margin: 30px auto;
	}
	.qa {
		padding-bottom: 80px;
	}
	.qa__title {
		margin-bottom: 20px;
	}
	.qa__item .item {
		width: 270px !important;
		padding: 30px 20px;
		min-height: 218px;
		text-align: center;
	}
	.qa__item .item__title {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.qa__item .item__desc {
    	font-size: 12px;
	}
	.qa .slick-prev,
	.qa .slick-next {
		top: auto;
		bottom: -45px;
	}
	.qa .slick-prev {
		left: 50%;
		transform: translateX(-150%);
	}
	.qa .slick-next {
		right: 50%;
		transform: translateX(150%);
	}

	.for__title {
		text-align: left;
		margin-bottom: 30px;
	}

	.for .item {
		padding-left: 60px;
		text-align: left;
		position: relative;
		max-width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}

	.for .item:last-child {
		margin-bottom: 0;
	}

	.for .item__icon {
		position: absolute;
		left: 0;
		top: 0;
	}

	.for .item__icon img {
		max-width: 35px;
	}

	.for .item__title {
		font-size: 15px;
		margin-bottom: 8px;
	}

	.advantages__items .item__icon {
		width: 90px;
		height: 90px;
		margin: 0 auto 20px;
	}
	.advantages__items .item__text {
		font-size: 16px;
	}

	.speakers .speaker {
		margin: 15px;
	}

	.speakers__title {
		margin-bottom: 8px;
	}

	.speakers__subtitle {
		font-size: 16px;
		margin-bottom: 24px;
	}

	.program {
		text-align: center;
		min-height: auto;
	}

	.program__subtitle {
		font-size: 15px;
	}

	.program__header {
		width: 100%;
		margin-bottom: 10px;
	}

	.program__info {
		width: 100%;
		display: none;
	}

	.program__info_items {
		justify-content: space-around;
	}

	.program__info_items li {
		font-size: 15px;
	}

	.program__info_items li b {
		font-size: 22px;
	}

	.module {
		text-align: left;
	}

	.module.active .module__header_date {
		background: none;
		color: #59516a;
		transform: none;
	}

	.module__header {
		padding: 15px 0;
		align-items: flex-start;
	}

	.module__header_title {
		max-width: calc(100% - 35px);
	}

	.module__header_number {
		margin: 0 5px;
		margin-right: 10px;
	}

	.module__header_date {
		width: 100%;
		padding-left: 35px;
		flex-wrap: nowrap;
		margin-top: 5px;
		font-size: 15px;
	}

	.module__header_date b {
		font-size: 12px;
		margin-right: 5px;
		width: auto;
		font-size: 15px;
	}

	.module__body {
		padding: 0 5px;
	}

	.module .speaker__photo {
		margin-right: 15px;
	}

	.module .speaker__content {
		width: calc(100% - 85px);
	}

	.module__number {
		margin-right: 0;
		font-size: 17px;
	}

	.module__time {
		order: 1;
		margin-bottom: 20px;
	}

	.module__speakers {
		order: 2;
	}

	.module__info {
		order: 3;
	}

	.module__desc {
		-moz-columns: 1;
		columns: 1;
		margin-top: 10px;
	}

	.module__desc li {
		margin-bottom: 10px;
	}

	.module__result {
		padding: 10px;
	}

	.module__result_text {
		font-size: 14px;
	}

	.module .material {
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}

	.module__btn {
		margin: 0 auto;
	}

	.discount {
		padding-bottom: 50px;
	}

	.discount__subtitle {
		font-size: 16px;
		margin: 0 auto 5px;
	}

	.discount__title {
		margin-bottom: 370px;
		text-align: center;
	}

	.discount__text {
		max-width: none;
		text-align: center;
		margin-bottom: 20px;
	}

	.discount__btn {
		display: flex;
		width: fit-content;
		margin: 0 auto;
	}

	.discount__bg {
		transform: scale(0.6);
		right: 6px;
		top: 110px;
	}

	.about__title {
		margin-bottom: 30px;
	}

	.about .item {
		text-align: center;
		border: none;
		box-shadow: none;
		padding: 0;
		margin-bottom: 30px;
	}

	.about .item__image {
		width: 150px;
		margin: 0 auto;
		margin-bottom: 8px;
	}

	.about .item__image img {
		width: 100%;
	}

	.about .item__title {
		font-size: 15px;
		margin-bottom: 8px;
	}

	.about .item__text {
		line-height: 150%;
	}

	.how__title {
		margin-bottom: 20px;
	}

	.how .item {
		justify-content: space-between;
		align-items: flex-start;
		max-width: 100%;
		text-align: left;
	}

	.how .item__image {
		width: 80px;
		height: 80px;
	}

	.how .item__image:before {
		width: 60px;
		height: 60px;
	}

	.how .item__image:after {
		width: 1px;
		height: 100px;
		display: block;
		right: auto;
		left: 50%;
		top: auto;
		bottom: 0;
		transform: translateY(100%);
	}

	.how .item__content {
		max-width: 220px;
	}

	.how .item__title {
		font-size: 15px;
	}

	.how .item__number {
		width: 30px;
		height: 30px;
		font-size: 16px;
		bottom: auto;
		top: -5px;
	}

	.profit .item {
		width: 300px !important;
		height: 130px;
	}

	.profit__subtitle {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.employment__image {
		order: 1;
		transform: translateY(70px);
	}

	.employment__content {
		order: 2;
	}

	.employment__title {
		transform: translateY(-270px);
	}

	.students__text {
		padding: 10px 30px;
	}

	.students__logos .slick-slide {
		margin: 0 10px;
	}

	.students__logos .logo {
		height: 50px;
	}

	.packages__container {
		justify-content: center;
		max-width: 100%;
	}

	.packages__header {
		justify-content: space-around;
		text-align: center;
		margin-bottom: 20px;
	}

	.packages__timer-header {
		display: none;
	}

	.packages__date,
	.packages__duration {
		margin: 0;
	}

	.packages__date span,
	.packages__duration span {
		font-size: 15px;
	}

	.packages__timer {
		text-align: center;
		margin-bottom: 30px;
	}

	.packages__wrap {
		margin-top: 0;
	}

	.packages .slick-current .package__name {
		background: #0FBE73;
		border-radius: 4px;
		color: #fff;
	}

	.package {
		width: 100%;
		margin-bottom: 50px;
		background: #fff;
	}

	.package-desc {
		background: transparent;
		margin-bottom: 20px;
	  }

	  .package-desc .package__body,
	  .package-desc .package__header {
		display: none;
	  }

	  .package-desc .package__footer {
		padding: 0;
		background: transparent;
	  }

	.package__name {
		height: 50px;
		display: inline-flex !important;
		padding: 0 15px;
		font-weight: 800;
		font-size: 14px;
		line-height: 17px;
		align-items: center;
	}

	.package__header {
		font-size: 20px;
		height: 70px;
	}

	.package__body li {
		display: none;
		font-size: 15px;
		height: auto;
		padding: 10px;
		padding-left: 45px;
	}

	.package__body li:nth-child(odd) {
		background: #f2f2f2;
	}

	.package__body li.yes {
		display: flex;
	}

	.package__body li.yes:before {
		left: 10px;
		transform: translate(0, -50%);
		width: 25px;
		height: 25px;
		border-width: 2px;
		background-size: 10px;
	}

	.package__footer {
		background: #fff;
	}

	.package__btn {
		padding: 0 50px;
	}

	.package-1 .package__body li.yes:before,
	.package-2 .package__body li.yes:before,
	.package-3 .package__body li.yes:before {
		background-size: 15px;
		border-width: 2px;
	}

	.reviews__title br {
		display: none;
	}

	.reviews .review {
		height: 400px;
	}
	.reviews .slick-center .review {
		transform: scale(1.5);
	}
	.reviews .slick-list {
		padding-top: 140px !important;
		padding-bottom: 135px !important;
	}

	.faq__container {
		max-width: 100%;
	}

	.faq__title {
		margin-bottom: 30px;
	}

	.faq .item__question {
		height: auto;
		padding: 10px;
		padding-left: 30px;
		font-size: 14px;
		line-height: 120%;
	}

	.faq .item__question:before {
		left: 10px;
		font-size: 16px;
	}

	.faq .item__answer {
		padding: 0 30px;
	}

	.faq .item.active .item__answer {
		padding: 10px 30px;
		padding-right: 1px;
	}

	.calltoaction__title {
		margin-bottom: 20px;
	}

	.for__title {
		max-width: 220px;
	}

	.register__container {
		max-width: 100%;
	}

	.register__wrap {
		padding: 50px 10px;
		justify-content: center;
		text-align: center;
	}

	.register__title {
		margin-bottom: 8px;
	}

	.register__text {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.register__content {
		margin-bottom: 30px;
	}

	.rass__content {
		margin-bottom: 10px;
	}

	.rass__price {
		font-size: 12px;
		margin-bottom: 15px;
	}

	.rass__price b {
		font-size: 30px;
	}

	.rass__text {
		font-size: 15px;
	}

	.rass__date {
		height: 300px;
	}

	.rass__date_day {
		font-size: 120px;
	}

	.rass__date_month {
		font-size: 25px;
	}

	.rass__tooltip {
		font-size: 12px;
		width: 260px;
	}

	._orientationRight_9be8.wrap_be23 {
		bottom: 50px;
	}

	.footer__container {
		justify-content: center;
	  }
  
	  .footer__info {
		text-align: center;
	  }
  
	  .footer__info_text {
		margin-left: auto;
		margin-right: auto;
	  }
  
	  .footer__logo {
		justify-content: center;
	  }
  
	  .footer__social {
		justify-content: center;
		margin-bottom: 20px;
	  }
  
	  .footer__social_link {
		margin: 0 10px;
	  }
  
	  .footer__contacts_title {
		display: none;
	  }
  
	  .footer__contacts_text p {
		justify-content: center;
	  }
  
	  .footer__bottom {
		text-align: center;
		justify-content: center;
		margin-top: 20px;
	  }
  
	  .footer__docs li {
		margin-right: 0;
		width: 100%;
	  }


	/* **** */
	/* .header {
		padding-top: 0;
	}

	.header__topline__new-year {
		background-size: cover;
	}

	.main {
		padding-top: 100px !important;
	} */
}
