@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg#Gilroy") format("svg");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 500 16px/140% Gilroy, Helvetica, Arial, sans-serif;
  background: #ffffff;
  min-width: 340px;
  color: rgba(45, 41, 50, 0.7);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 65px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

*[data-targetdate] {
  display: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

a {
  color: #333333;
  text-decoration: none;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99FF99 !important;
}

h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
  color: #2B2932;
}

h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  color: #2B2932;
}

h2 span {
  color: #C16548;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
  width: 100%;
}

.countdownHolder {
  margin: 0 auto;
  font: 30px/1 Gilroy, sans-serif;
  text-align: center;
  letter-spacing: -3px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*Параметры цифр */
  /*Параметры подложки для секций */
  /*Параметры секций разделения (:)*/
  /*Параметры вспомогательного текста (дни, часы, минуты, секунды)*/
}

.countdownHolder .position {
  display: inline-block;
  height: 1em;
  overflow: hidden;
  position: relative;
  width: 0.6em;
}

.countdownHolder .digit {
  position: absolute;
  display: block;
  border-radius: 0.2em;
  text-align: center;
  color: #fff;
  font-weight: 800;
  letter-spacing: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.countdownHolder .countDays,
.countdownHolder .countHours,
.countdownHolder .countMinutes,
.countdownHolder .countSeconds {
  background: #596657;
  border-radius: 5px;
  padding: 10px;
}

.countdownHolder .countDiv {
  width: 10px;
  height: 1em;
  position: relative;
}

.countdownHolder .countDiv:before,
.countdownHolder .countDiv:after {
  background: #596657;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 50%;
  margin-left: -3px;
  top: 0.4em;
  box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
  content: '';
}

.countdownHolder .countDiv:after {
  top: 0.8em;
}

.countdownHolder .textdigit {
  font-size: 10px;
  letter-spacing: 0px;
  color: #fff;
  margin-top: -5px;
}

.fsb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form {
  width: 100%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(68, 51, 104, 0.15);
  border-radius: 4px;
  padding: 40px 80px;
  text-align: center;
}

.form__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  color: #2B2932;
  margin-bottom: 16px;
}

.form__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 35px;
}

.form .input {
  width: 100%;
  height: 60px;
  background: #F8F8F8;
  border: 1px solid #C6C6C6;
  border-radius: 2px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  display: block;
}

.form .input__wrap {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
}

.form .input__wrap:hover .input__label,
.form .input__wrap.focused .input__label {
  transform: translate(0, -25px);
  font-size: 10px;
}

.form .input__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: block;
  transform: translate(0, -50%);
  position: absolute;
  left: 25px;
  top: 50%;
  transition: 0.3s ease;
}

.form:before {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7) url(../img/loading.svg) 50% no-repeat;
  z-index: 10;
}

.form.loading:before {
  display: block;
}

.form .intl-tel-input {
  width: 100%;
}

.form .country-list .country-name {
  color: #333;
}

.form__places {
  margin-top: 8px;
  font-size: 12px;
  line-height: 24px;
  color: rgba(51, 44, 44, 0.7);
  margin-bottom: 15px;
}

.form__agree {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.form__agree a {
  text-decoration: underline;
}

.btn {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: 60px;
  border-radius: 2px;
  padding: 0 50px;
  color: #303034;
  background: #FFDA57;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: 0px 0px 20px 5px rgb(240 183 36 / 20%);
  background: #f0b724;
}

/* .btn_telegram {
  background: #0088CC;
}

.btn_telegram:hover {
  background: #0088CC;
  box-shadow: 0px 0px 20px 5px rgba(0, 136, 204, 0.2);
} */

.subm {
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 5px 0;
  background: #fff;
  z-index: 100;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  display: block;
  margin-bottom: 10px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__menu li {
  margin: 0 20px;
  position: relative;
  overflow: hidden;
}

.header__menu li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #C16548;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  transition: 0.3s ease;
  position: absolute;
}

.header__menu li:hover:after {
  transform: translateX(0);
}

.header__menu li:hover a {
  color: #C16548;
}

.header__menu a {
  font-size: 14px;
  line-height: 16px;
  transition: 0.3s ease;
}

.header__btn {
  height: 50px;
}

.header__burger {
  display: none;
}

.header__social {
  display: none;
}

.course-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 38px;
}

.course-info__date,
.course-info__flow,
.course-info__duration {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	margin-right: 35px;
	margin-bottom: 10px;
}

.course-info__flow {
	margin-right: 0;
}

.course-info__date svg,
.course-info__date img,
.course-info__flow svg,
.course-info__flow img,
.course-info__duration svg,
.course-info__duration img {
  margin-right: 12px;
}

.main {
  padding-top: 50px;
}

.main__content {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
}

.main__image {
  right: 0;
  top: 0;
  position: absolute;
}

.main__title {
  margin-bottom: 14px;
  max-width: 600px;
}

.main__subtitle {
  max-width: 500px;
  font-weight: 500;
  font-size: 20px;
  line-height: 148%;
  color: #332C2C;
  margin-bottom: 70px;
}

.main__subtitle b {
  font-weight: 700;
  color: #C16548;
}

.main .row {
  display: flex;
  flex-wrap: wrap;
}

.main__trailer {
  order: 2;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.main__trailer span {
  margin-left: 10px;
}

.main__trailer svg {
  transition: 0.3s ease;
}

.main__trailer circle {
  transition: 0.3s ease;
}

.main__trailer:hover svg {
  transform: scale(1.5);
}

.main__trailer:hover circle {
  fill: #EB7C59;
}

.main__places {
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 6px;
  color: rgba(50, 40, 71, 0.69);
}

.for {
  padding: 100px 0;
  text-align: center;
}

.for__title {
  margin-bottom: 50px;
}

.for__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.for .item {
  width: 100%;
  max-width: 240px;
}

.for .item__icon {
  min-height: 80px;
}

.for .item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #2B2932;
  margin-bottom: 15px;
}

.speakers {
  padding-top: 70px;
  position: relative;
  text-align: center;
}

.speakers:before {
  content: '';
  z-index: -1;
  width: 100%;
  height: 400px;
  background: #E9ECE8;
  position: absolute;
  left: 0;
  top: 0;
}

.speakers__title {
  margin-bottom: 16px;
}

.speakers__subtitle {
  font-size: 20px;
  line-height: 148%;
  margin-bottom: 44px;
}

.speakers__subtitle b {
  font-weight: 700;
  color: #C16548;
}

.speakers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.speakers .speaker {
  width: 100%;
  max-width: 290px;
  position: relative;
  height: 400px;
  padding: 25px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  display: flex !important;
  flex-direction: column;
  transition: 0.3s ease;
}

.speakers .speaker__company {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  z-index: 20;
  transition: 0.3s ease;
  background: #3B363C;
}

.speakers .speaker__company img {
  max-width: 90%;
}

.speakers .speaker__photo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}

.speakers .speaker__photo:after {
  content: '';
  background: linear-gradient(180deg, rgba(25, 23, 30, 0) 0%, #1A181E 100%);
  opacity: 0.67;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 290px;
}

.speakers .speaker__name {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  z-index: 20;
  transition: 0.3s ease;
}

.speakers .speaker__prof {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  position: relative;
}

.speakers .speaker__info {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #212220;
  padding: 30px;
  color: #fff;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: 0.3s ease;
  opacity: 0;
}

.speakers .speaker__info_name {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
  width: 100%;
}

.speakers .speaker__info li {
  font-size: 12px;
  line-height: 19px;
}

.speakers .speaker:hover,
.speakers .speaker.active {
  justify-content: start;
  padding-top: 70px;
}

.speakers .speaker:hover .speaker__info,
.speakers .speaker.active .speaker__info {
  opacity: 1;
  padding-top: 150px;
}

.speakers .speaker:hover .speaker__company,
.speakers .speaker.active .speaker__company {
  left: 50%;
  transform: translateX(-50%);
}

.speakers .slick-prev,
.speakers .slick-next {
  z-index: 10;
}

.program {
  padding: 100px 0;
  min-height: 1100px;
}

.program__title {
  margin-bottom: 10px;
}

.program__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 148%;
}

.program__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.program__info {
  max-width: 470px;
  width: 100%;
}

.program__info_text {
  max-width: 320px;
  width: 100%;
  margin-bottom: 20px;
}

.program__info_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.program__info_items li {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #322847;
}

.program__info_items li b {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  color: #596657;
}

.program__modules {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.module.active .module__header {
  background: #F2F3F1;
}

.module.active .module__header_date {
  color: transparent;
  background: url(../img/next.svg) 0 50% no-repeat;
  background-size: 30px;
}

.module.active .module__body {
  display: flex;
}

.module__header {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}

.module__header_number {
  width: 20px;
  height: 20px;
  background: #596657;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

.module__header_title {
  width: 100%;
  max-width: 350px;
  font-size: 15px;
  line-height: 18px;
}

.module__header_date {
  width: 60px;
  font-size: 12px;
  font-weight: 700;
  color: #596657;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s ease;
}

.module__header_date b {
  width: 100%;
  font-size: 30px;
  display: block;
}

.module__body {
  width: 100%;
  max-width: 720px;
  border: 2px solid rgba(63, 35, 26, 0.08);
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.module .speaker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.module .speaker__photo {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  background-size: cover;
  margin-right: 25px;
}

.module .speaker__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #322847;
  margin-bottom: 4px;
}

.module .speaker__prof {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #59516A;
}

.module__time_kyiv,
.module__time_msk {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.module__time_kyiv b,
.module__time_msk b {
  font-weight: 700;
}

.module__date {
  width: 100%;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #59516A;
}

.module__info {
  width: 100%;
  border-top: 1px solid #F0EDED;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.module__number {
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
  color: #2B2932;
  margin-right: 30px;
}

.module__presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 110%;
}

.module__presentation span {
  margin-left: 14px;
}

.module__presentation svg,
.module__presentation circle {
  transition: 0.3s ease;
}

.module__presentation:hover svg {
  transform: scale(1.5);
}

.module__presentation:hover circle {
  fill: #EB7C59;
}

.module__desc {
  width: 100%;
  -moz-columns: 2;
  columns: 2;
  margin-top: 25px;
}

.module__desc li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.module__desc li:before {
  content: '';
  background: #596657;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 6px;
}

.module__result {
  background: rgba(233, 236, 232, 0.61);
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.module__result_title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #2B2932;
}

.module__result_text {
  font-size: 15px;
  line-height: 140%;
  font-weight: 400;
}

.module__materials {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
}

.module .material {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.module .material__icon {
  margin-right: 12px;
}

.module .material__text {
  width: 100%;
  max-width: calc(100% - 50px);
  font-size: 13px;
  line-height: 15px;
}

.about {
  padding: 50px 0;
  text-align: center;
}

.about__title {
  margin-bottom: 60px;
}

.about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  width: 100%;
  max-width: 600px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 40px;
  text-align: left;
}

.about .item__image {
  width: 200px;
}

.about .item__image img {
  display: block;
}

.about .item__content {
  width: 100%;
  max-width: 320px;
}

.about .item__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #2B2932;
  margin-bottom: 15px;
}

.about__btn {
  margin: 0 auto;
}

.how {
  padding: 100px 0;
  background: #E9ECE8;
}

.how__title {
  text-align: center;
  margin-bottom: 85px;
}

.how .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.how .item:last-child {
  margin-bottom: 0;
}

.how .item:last-child .item__image img {
  margin-top: -15px;
}

.how .item:last-child .item__image:after {
  display: none;
}

.how .item:nth-child(even) .item__content {
  transform: translateX(250px);
}

.how .item__content {
  width: 100%;
  max-width: 320px;
  transform: translateX(-250px);
}

.how .item__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
  color: #2B2932;
  margin-bottom: 10px;
}

.how .item__text {
  color: rgba(50, 41, 41, 0.7);
}

.how .item__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border: 1px solid rgba(89, 102, 87, 0.15);
  border-radius: 50%;
}

.how .item__image:before {
  width: 106px;
  height: 106px;
  content: '';
  background: #596657;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.how .item__image:after {
  content: '';
  width: 1px;
  height: 34px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateY(100%);
  background: rgba(89, 102, 87, 0.57);
}

.how .item__image img {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profit {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.profit__title {
  margin-bottom: 15px;
}

.profit__subtitle {
  margin-bottom: 100px;
}

.profit .item {
  width: 100%;
  max-width: 500px;
  width: 500px !important;
  height: 200px;
  box-shadow: 0px 4px 40px rgba(68, 51, 104, 0.15);
  margin-bottom: 20px;
}

.profit .item__image {
  height: 100%;
  background-size: 100%;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.profit .slick-list {
  overflow: visible;
}

.profit .slick-slide {
  margin: 0 15px;
}

.profit .slick-prev,
.profit .slick-next {
  top: auto;
  bottom: -65px;
  z-index: 10;
}

.profit .slick-prev {
  left: 50%;
  transform: translate(-250%, -50%);
}

.profit .slick-next {
  right: 50%;
  transform: translate(250%, -50%);
}

.profit .slick-dots li {
  margin: 0;
}

.profit .slick-dots li button {
  padding: 0;
}

.profit .slick-dots li button:before {
  color: #C16548;
  font-size: 40px;
}

.employment {
  padding: 90px 0;
  background: #E9ECE8;
}

.employment__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.employment__content {
  max-width: 520px;
  width: 100%;
}

.employment__image {
  max-width: 520px;
  text-align: center;
}

.employment__btn {
  margin-top: 20px;
}

.employment__title {
  margin-bottom: 55px;
}

.employment__list li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px;
  color: rgba(50, 41, 41, 0.7);
}

.employment__list li b {
  font-weight: 700;
}

.employment__list li:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/employment-check.svg) 50% no-repeat;
}

.students {
  text-align: center;
  padding: 100px 0;
}

.students__title {
  margin-bottom: 10px;
}

.students__subtitle {
  margin-bottom: 30px;
}

.students__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.students__logos .slick-slide {
  margin: 0 35px;
  margin-bottom: 15px;
}

.students__logos .logo {
  margin-bottom: 15px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex !important;
}

.students .slick-list {
  overflow: visible;
}

.students__text {
  margin-top: 30px;
  padding: 30px 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #E9ECE8;
}

.students__text span {
  margin-left: 10px;
}

.packages {
  padding: 100px 0;
  background: #E9ECE8;
}

.packages__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.packages__header {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.packages__title {
  margin-top: 20px;
  width: 100%;
}

.packages__timer_title {
  margin-bottom: 20px;
}

.packages__nav {
  display: none;
  padding: 20px 0;
}

.packages__wrap {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.package {
  text-align: center;
  background: #fff;
  width: 20%;
  border-left: 1px solid #f2f2f2;
}

.package-desc {
  width: 40%;
}

.package-desc .package__header {
  padding: 10px 40px;
  justify-content: flex-start;
}

.package-desc .package__body li {
  padding: 0 40px;
  font-size: 15px;
}

.package__header {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #C16548;
}

.package__body li {
  height: 80px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  position: relative;
}

.package__body li:nth-child(odd) {
  background: #F7F7F7;
}

.package__body li.yes:before {
  background: url(../img/check-1.svg) 50% no-repeat;
  content: '';
  width: 34px;
  height: 34px;
  border: 3px solid #C16548;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.package__footer {
  background: #F7F7F7;
  padding: 40px 0;
}

.package__price_full {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #2B2932;
}

.package__price_current {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #C16548;
  margin-bottom: 30px;
}

.package__places {
  margin-top: 10px;
}

.package-1 {
  background: #f9f9f9;
}

.package-1 .package__header {
  color: #616161;
}

.package-1 .package__body li.yes:before {
  background: url(../img/check-1.svg) 50% no-repeat;
  border: 3px solid #616161;
}

.package-1 .package__body li:nth-child(odd) {
  background: #f2f2f2;
}

.package-2 {
  background: #f2f2f2;
}

.package-2 .package__header {
  color: #C16548;
}

.package-2 .package__body li.yes:before {
  background: url(../img/check-2.svg) 50% no-repeat;
  border: 3px solid #C16548;
}

.package-2 .package__body li:nth-child(odd) {
  background: #ececec;
}

.package-3 {
  background: #ffffff;
}

.package-3 .package__header {
  color: #596657;
}

.package-3 .package__body li.yes:before {
  background: url(../img/check-3.svg) 50% no-repeat;
  border: 3px solid #596657;
}

.package-3 .package__body li:nth-child(odd) {
  background: #f2f2f2;
}

.reviews {
  text-align: center;
  padding: 100px 0;
}

.reviews .review {
  height: 380px;
  transition: 0.3s ease;
}

.reviews .review__image {
  box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.13);
  border: 8px solid #C9D1C6;
  border-radius: 23px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.reviews .slick-slide {
  margin: 0 7px;
  opacity: 0;
}

.reviews .slick-active {
  opacity: 0.5;
}

.reviews .slick-list {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.reviews .slick-center {
  opacity: 1;
  z-index: 10;
  position: relative;
}

.reviews .slick-center .review {
  transform: scale(1.5);
}

.reviews .slick-center .review__image {
  border-color: #2B2932;
}

.faq {
  background: #E9ECE8;
  padding: 100px 0;
}

.faq__title {
  text-align: center;
  margin-bottom: 50px;
}

.faq .item {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.faq .item__question {
  background: #FFFFFF;
  border-radius: 4px;
  height: 70px;
  padding-left: 70px;
  position: relative;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #322847;
  cursor: pointer;
}

.faq .item__question:before {
  content: '+';
  left: 40px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  font-weight: 800;
  font-size: 29px;
  line-height: 36px;
  color: #596657;
  transition: 0.3s ease;
}

.faq .item__answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 35px;
  transition: 0.3s ease;
}

.faq .item.active .item__question:before {
  content: '-';
}

.faq .item.active .item__answer {
  max-height: 1000px;
  padding: 20px 35px;
}

.calltoaction {
  padding: 100px 0;
  text-align: center;
}

.calltoaction__title {
  margin-bottom: 70px;
}

.register {
  padding: 20px 0;
}

.register__wrap {
  background: #E9ECE8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.register__content {
  width: 100%;
  max-width: 440px;
}

.register__title {
  margin-bottom: 20px;
}

.register__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.register__text b {
  font-weight: 700;
  color: #C16548;
}

.register__timer_title {
  margin-bottom: 20px;
}

.register__timer .countdownHolder {
  display: inline-flex;
}

.register__form {
  width: 100%;
  max-width: 535px;
}

.success-page .header__btn {
  display: none;
}

.success-page .header__menu {
  display: none;
}

.success-page .header__burger {
  display: none;
}

.success {
  padding: 50px 0;
  padding-bottom: 100px;
}

.success__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.success__content {
  width: 100%;
  max-width: 650px;
  margin-left: auto;
}

.success__image {
  position: relative;
}

.success__image .hand {
  position: absolute;
  bottom: -50px;
  left: 170px;
  transform: rotate3d(0, 0, 1, 40deg);
}

.success__image .plays {
  position: absolute;
  top: 82px;
  left: 123px;
}

.success__image .tel {
  position: absolute;
  left: 0;
  top: 0;
}

.success__img {
  position: absolute;
  left: 0;
  bottom: -17px;
}

.success__course-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 46px;
  color: #2B2932
}

.success__title {
  margin-bottom: 12px;
}

.success__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 148%;
  max-width: 630px;
  margin-bottom: 40px;
}

.success__text span {
  color: #0FBE73;
}

.footer {
  background: #272E26;
  color: #fff;
  padding-top: 35px;
  font-size: 12px;
  line-height: 130%;
}

.footer a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease;
}

.footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 20px;
  display: flex;
}

.footer__logo svg {
  display: block;
}

.footer__info_text {
  max-width: 210px;
  margin-bottom: 20px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__social_link {
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__social_link:last-child {
  margin-right: 0;
}

.footer__social_link img {
  display: block;
}

.footer__menu {
  margin-top: 15px;
}

.footer__menu_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.footer__menu_list {
  -moz-columns: 2;
  columns: 2;
}

.footer__menu_list li {
  margin-bottom: 10px;
}

.footer__menu_list a {
  font-size: 13px;
}

.footer__contacts {
  margin-top: 15px;
}

.footer__contacts_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.footer__contacts_text {
  font-size: 13px;
}

.footer__contacts_text p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.footer__contacts_text p svg {
  margin-right: 5px;
}

.footer__bottom {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__docs {
  display: flex;
  flex-wrap: wrap;
}

.footer__docs li {
  margin: 0 16px;
}

.footer__docs li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1260px) {
  .footer__menu {
    display: none;
  }

  .footer__copy {
    margin-bottom: 20px;
  }

  .footer__docs li {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 760px) {
  .footer__container {
    justify-content: center;
  }

  .footer__info {
    text-align: center;
  }

  .footer__logo {
    justify-content: center;
  }

  .footer__social {
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer__social_link {
    margin: 0 10px;
  }

  .footer__contacts_title {
    display: none;
  }

  .footer__bottom {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

  .footer__docs li {
    margin-right: 0;
    width: 100%;
  }
}

.modal-overlay {
  display: none;
  padding-top: 1px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.modal-overlay .modal-content {
  margin-bottom: 0px;
  border-radius: 4px;
}

.modal-overlay .close-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

.modal-overlay .close-button:before {
  background: #fff;
  content: '';
  height: 50px;
  width: 2px;
  display: block;
  transform: translateX(25px) rotate(-45deg);
}

.modal-overlay .close-button:after {
  background: #fff;
  content: '';
  margin-top: -50px;
  height: 50px;
  width: 2px;
  display: block;
  transform: translateX(25px) rotate(45deg);
  transition: 0.2s linear;
}

#modal-video .modal-content {
  height: auto;
  width: 100%;
}

#modal-video .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

#modal-video .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footer {
  background: #2C2B2F;
}

.footer__contacts_text path {
  fill: #684AB8;
}


/* **** */
/* .header {
	padding-top: 0;
}

.header__container {
	padding-top: 5px;
}

.topline__new-year {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 123px;
	background-position: center top;
	background-repeat: repeat-x;
	background-size: cover;
	z-index: 5;
}

.header__topline__new-year {
	position: relative;
	transition: all 0.4s;
	height: 80px;
	background-size: contain;
	z-index: 101;
}

.topline__new-year--hide {
	height: 0 !important;
}

body {
  padding-top: 0 !important;
}

.header {
  position: relative !important;
}

.main {
  padding-top: 100px !important;
} */