@media only screen and (max-width: 1260px) {
  body {
    font-size: 14px;
    padding-top: 60px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  .container {
    max-width: 760px;
  }

  .btn {
    padding: 0 40px;
    height: 50px;
  }

  .course-info__date,
  .course-info__flow,
  .course-info__duration {
    margin-right: 15px;
    font-size: 14px;
  }

  .course-info__date svg,
  .course-info__date img,
  .course-info__flow svg,
  .course-info__flow img,
  .course-info__duration svg,
  .course-info__duration img {
    margin-right: 5px;
		transform: scale(0.9);
  }

  .header__btn {
    height: 40px;
  }

  .header__line {
    margin: 0 10px;
  }

  .header__logo img {
    height: 40px;
  }

  .main {
    padding-top: 0;
  }

  .main__content {
    padding: 50px 0;
  }

  .main__image {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .main__image img {
    width: 100%;
  }

  .main__subtitle {
    font-size: 16px;
    max-width: 360px;
    margin-bottom: 30px;
  }

  .main__trailer {
    height: 50px;
  }

  .main__trailer span {
    display: none;
  }

  .for {
    padding: 50px 0;
  }

  .for__items {
    justify-content: space-between;
  }

  .for .item {
    max-width: 180px;
  }

  .for .item__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .speakers {
    padding: 50px 0;
  }

  .speakers .speaker:hover {
    justify-content: flex-end;
    padding-top: 25px;
  }

  .speakers .speaker:hover .speaker__info {
    opacity: 0;
    padding-top: 30px;
  }

  .speakers .speaker:hover .speaker__company {
    left: 10px;
    transform: translateX(0);
  }

  .speakers .speaker.active {
    justify-content: start;
    padding-top: 70px;
  }

  .speakers .speaker.active .speaker__info {
    opacity: 1;
    padding-top: 150px;
  }

  .speakers .speaker.active .speaker__company {
    left: 50%;
    transform: translateX(-50%);
  }

  .program {
    padding: 50px 0;
  }

  .program__header {
    max-width: 360px;
  }

  .program__info {
    max-width: 360px;
  }

  .module.active .module__header_date {
    transform: rotate(90deg);
    background-position: 50%;
  }

  .module.active .module__body {
    max-height: 10000px;
    padding: 10px;
    border: 1px solid rgba(63, 35, 26, 0.08);
  }

  .module__header {
    max-width: 100%;
  }

  .module__header_title {
    max-width: 600px;
  }

  .module__body {
    position: relative;
    right: auto;
    top: auto;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    display: flex;
    border: none;
    padding: 0 10px;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .about .item {
    max-width: 360px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .about .item__title {
    font-size: 18px;
  }

  .how {
    padding: 50px 0;
  }

  .how .item {
    justify-content: center;
    margin-bottom: 33px;
  }

  .how .item__image {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin-right: 50px;
  }

  .how .item__content {
    transform: none;
  }

  .how .item:nth-child(even) .item__content {
    transform: none;
  }

  .profit {
    padding: 50px 0;
  }

  .employment {
    padding: 50px 0;
  }

  .employment__title {
    margin-bottom: 25px;
  }

  .employment__content {
    max-width: 360px;
  }

  .employment__list li {
    padding-left: 40px;
  }

  .employment__image {
    max-width: 360px;
  }

  .employment__image img {
    width: 100%;
  }

  .students {
    padding: 50px 0;
  }

  .packages {
    padding: 50px 0;
  }

  .packages__header {
    max-width: 410px;
  }

  .packages__wrap {
    margin-top: 50px;
  }

  .package-desc .package__body li {
    padding: 0 10px;
    font-size: 14px;
  }

  .package__header {
    font-size: 16px;
  }

  .package__body li {
    padding: 0 10px;
  }

  .package__btn {
    padding: 0 10px;
  }

  .package__places {
    font-size: 12px;
  }

  .reviews {
    padding: 50px 0;
  }

  .faq {
    padding: 50px 0;
  }

  .calltoaction {
    padding: 50px 0;
  }

  .register__wrap {
    padding: 10px;
  }

  .register__content {
    max-width: 340px;
  }

  .register__form {
    max-width: 340px;
  }

  .register__text {
    font-size: 16px;
  }

  .form {
    padding: 20px 20px;
  }

  .form__title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .form__subtitle {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .form__places {
    margin-bottom: 8px;
  }

  .form__agree {
    font-size: 11px;
  }

  .success {
    padding-bottom: 50px;
  }

  .success__image {
    max-width: 360px;
    transform: scale(0.6) translateX(-100px);
  }

  .success__img {
    width: 400px;
  }

  .success__content {
    max-width: 360px;
  }

  .success__text {
    font-size: 18px;
  }


	/* **** */
	/* .topline__new-year {
		height: 65px;
	} */
}

@media only screen and (max-width: 760px) {
  body {
    font-size: 14px;
    padding-top: 0;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  .container {
    max-width: 340px;
  }

	.course-info {
		justify-content: center;
		margin-bottom: 10px;
	}

	.course-info__date,
	.course-info__flow,
	.course-info__duration {
		margin: 0 5px;
		font-size: 14px;
	}

  .course-info__date svg,
  .course-info__date img,
  .course-info__flow svg,
  .course-info__flow img,
  .course-info__duration svg,
  .course-info__duration img {
		margin-right: 0px;
		transform: scale(0.7);
  }

  .header {
    position: absolute;
    padding: 10px 0;
  }

  .header__logo {
    transition: 0.3s ease;
  }

  .header__logo img {
    height: 40px;
    margin: 0;
    transition: 0.3s ease;
  }

  .header__line {
    height: 20px;
  }

  .header__flow {
    font-size: 11px;
  }

  .header__btn {
    position: fixed;
    bottom: 5px;
    height: 50px;
    width: 320px;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__btn.hidden {
    opacity: 0;
    z-index: -1;
  }

  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: 0.3s ease;
  }

  .header__menu li {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 30px 0;
  }

  .header__menu li:before {
    display: none;
  }

  .header__menu li:hover,
  .header__menu li:focus {
    background: #F4EDEB;
    color: #C16548;
  }

  .header__menu a {
    font-size: 18px;
  }

  .header__burger {
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
    opacity: 1;
    margin-left: auto;
  }

  .header__burger span {
    width: 100%;
    height: 3px;
    background: #C16548;
    border-radius: 3px;
    transition: 0.3s ease;
    transform-origin: 50% 50%;
    display: block;
  }

  .header__social {
    display: flex;
    position: fixed;
    bottom: 50px;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100%;
    opacity: 1;
    transition: 0.3s ease;
    transform: translateX(-100%);
  }

  .header__social_link {
    margin: 0 10px;
  }

  .header.active {
    position: fixed;
  }

  .header.active .header__logo {
    top: 10px;
    left: 50%;
    z-index: 110;
  }

  .header.active .header__logo img {
    transform: none;
  }

  .header.active .header__menu {
    transform: translateX(0);
  }

  .header.active .header__burger span:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 7px);
  }

  .header.active .header__burger span:nth-child(2) {
    opacity: 0;
  }

  .header.active .header__burger span:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -7px);
  }

  .header.active .header__social {
    transform: translateY(0);
  }

  .main {
    text-align: center;
    padding-top: 50px;
  }

  .main__info {
    justify-content: space-between;
  }

  .main__date,
  .main__duration,
  .main__flow {
    margin: 0;
    font-size: 14px;
  }

  .main__date svg,
  .main__date img,
  .main__duration svg,
  .main__duration img,
  .main__flow svg,
  .main__flow img {
    margin-right: 5px;
  }

  .main__subtitle {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .main__image {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .main__trailer {
    margin-left: 0;
  }

  .main__trailer svg {
    width: 50px;
    height: 50px;
  }

  .main .row {
    justify-content: space-around;
  }

  .for__title {
    text-align: left;
    margin-bottom: 30px;
  }

  .for .item {
    padding-left: 60px;
    text-align: left;
    position: relative;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .for .item:last-child {
    margin-bottom: 0;
  }

  .for .item__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .for .item__icon img {
    max-width: 35px;
  }

  .for .item__title {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .speakers__title {
    margin-bottom: 8px;
  }

  .speakers__subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .program {
    text-align: center;
    min-height: auto;
  }

  .program__subtitle {
    font-size: 15px;
  }

  .program__header {
    width: 100%;
    margin-bottom: 10px;
  }

  .program__info {
    width: 100%;
    display: none;
  }

  .program__info_items {
    justify-content: space-around;
  }

  .program__info_items li {
    font-size: 15px;
  }

  .program__info_items li b {
    font-size: 22px;
  }

  .module {
    text-align: left;
  }

  .module.active .module__header_date {
    background: none;
    color: #59516A;
    transform: none;
  }

  .module__header {
    padding: 15px 0;
    align-items: flex-start;
  }

  .module__header_title {
    max-width: calc(100% - 35px);
  }

  .module__header_number {
    margin: 0 5px;
    margin-right: 10px;
  }

  .module__header_date {
    width: 100%;
    padding-left: 35px;
    flex-wrap: nowrap;
    margin-top: 5px;
    font-size: 15px;
  }

  .module__header_date b {
    font-size: 12px;
    margin-right: 5px;
    width: auto;
    font-size: 15px;
  }

  .module__body {
    padding: 0 5px;
  }

  .module__time {
    order: 1;
    margin-bottom: 20px;
  }

  .module__speakers {
    order: 2;
  }

  .module__info {
    order: 3;
  }

  .module__desc {
    -moz-columns: 1;
    columns: 1;
    margin-top: 10px;
  }

  .module__desc li {
    margin-bottom: 10px;
  }

  .module__result {
    padding: 10px;
  }

  .module__result_text {
    font-size: 14px;
  }

  .module .material {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .module__btn {
    margin: 0 auto;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about .item {
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 30px;
  }

  .about .item__image {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .about .item__image img {
    width: 100%;
  }

  .about .item__title {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .about .item__text {
    line-height: 150%;
  }

  .how__title {
    margin-bottom: 20px;
  }

  .how .item {
    justify-content: space-between;
  }

  .how .item__image {
    margin-right: 0;
    width: 80px;
    height: 80px;
  }

  .how .item__image:before {
    width: 60px;
    height: 60px;
  }

  .how .item__image:after {
    height: 100px;
  }

  .how .item__image img {
    transform: translate(-50%, -50%) scale(0.65);
  }

  .how .item__content {
    max-width: 230px;
  }

  .how .item__title {
    font-size: 15px;
  }

  .profit .item {
    width: 300px !important;
    height: 130px;
  }

  .profit__subtitle {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .employment__image {
    order: 1;
    transform: translateY(70px);
  }

  .employment__content {
    order: 2;
  }

  .employment__title {
    transform: translateY(-270px);
  }

  .students__text {
    padding: 10px 30px;
  }

  .students__logos .slick-slide {
    margin: 0 10px;
  }

  .students__logos .logo {
    height: 50px;
  }

  .packages__container {
    justify-content: center;
    max-width: 100%;
  }

  .packages__header {
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
  }

  .packages__date,
  .packages__duration {
    margin: 0;
  }

  .packages__date span,
  .packages__duration span {
    font-size: 15px;
  }

  .packages__timer {
    text-align: center;
    margin-bottom: 30px;
  }

  .packages__wrap {
    margin-top: 0;
  }

  .packages .slick-current .package__name {
    background: #C16548;
    border-radius: 4px;
    color: #fff;
  }

  .package {
    width: 100%;
    margin-bottom: 50px;
    background: #fff;
  }

  .package-desc {
    display: none;
  }

  .package__name {
    height: 50px;
    display: inline-flex !important;
    padding: 0 15px;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
  }

  .package__header {
    font-size: 20px;
    height: 70px;
  }

  .package__body li {
    display: none;
    font-size: 15px;
    height: auto;
    padding: 10px;
    padding-left: 45px;
  }

  .package__body li:nth-child(odd) {
    background: #f2f2f2;
  }

  .package__body li.yes {
    display: flex;
  }

  .package__body li.yes:before {
    left: 10px;
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    border-width: 2px;
    background-size: 10px;
  }

  .package__footer {
    background: #fff;
  }

  .package__btn {
    padding: 0 50px;
  }

  .package-1 .package__body li.yes:before,
  .package-2 .package__body li.yes:before,
  .package-3 .package__body li.yes:before {
    background-size: 15px;
    border-width: 2px;
  }

  .faq__container {
    max-width: 100%;
  }

  .faq__title {
    margin-bottom: 30px;
  }

  .faq .item__question {
    height: auto;
    padding: 10px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 120%;
  }

  .faq .item__question:before {
    left: 10px;
    font-size: 16px;
  }

  .faq .item__answer {
    padding: 0 30px;
  }

  .faq .item.active .item__answer {
    padding: 10px 30px;
    padding-right: 1px;
  }

  .calltoaction__title {
    margin-bottom: 20px;
  }

  .for__title {
    max-width: 220px;
  }

  .register__container {
    max-width: 100%;
  }

  .register__wrap {
    padding: 50px 10px;
    justify-content: center;
    text-align: center;
  }

  .register__title {
    margin-bottom: 8px;
  }

  .register__text {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .register__content {
    margin-bottom: 30px;
  }

  .success__image {
    max-width: 250px;
    transform: scale(0.5) translate(-70px, -100px);
    min-height: 400px;
  }

  .success__img {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    width: inherit;
    bottom: auto;
    height: auto;
  }

  .success__content {
    max-width: 320px;
    text-align: center;
  }

  .success__course-name {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .success__text {
    font-size: 16px;
  }

  .success__title {
    margin-bottom: 10px;
  }

  .success__text {
    font-size: 14px;
    margin-bottom: 10px;
  }


	/* **** */
	/* .header {
		padding-top: 0;
	}

	.header__topline__new-year {
		background-size: cover;
	} */
}